gen-external-apklibs
*/target
target
tmp
.idea
*~
*/test-output
*.iml
out
local.properties
project.properties
*.dia~
*.autosave
gen
*.cache

#gradle
build
.gradle
classes
proguard_logs
build-log.xml
build.log